Repository SpriteLink/NIPAP, pull requests merged in 2023-10, with the labels that each got.

#1336 Remove more files related to Pylons
  nipap-www/nipap_www.egg-info/requires.txt
  nipap-www/nipapwww/lib/base.py
Labels: www-ui

#1337 Handle edit_prefix without VRF
  nipap/nipap/backend.py
Labels: backend, bug

#1339 Update for new configparser
  nipap-cli/helper-nipap
Labels: cli client

#1341 Improved make clean
  Makefile
  nipap-cli/Makefile
  nipap-www/Makefile
  nipap/Makefile
  pynipap/Makefile
  whoisd/Makefile
Labels: build / packaging

#1343 UrlLib.Parse.Quote on password else it breaks on #
  nipap-cli/nipap_cli/nipap_cli.py
Labels: cli client

#1347 Handle binary data from LDAP
  nipap/nipap/authlib.py
Labels: backend, bug

#1348 Re-enable upgrade tests
  .github/workflows/ci.yml
Labels: test
